<template>
  <div id="app">
      <router-view />
  </div>
</template>
<script>
  export default {
    name: 'App',
    components:{
    },
    data(){
    return{
    }
    },
    computed:{
    },
    watch:{
    },
    mounted(){
    },
    created(){
    },
    beforeDestroy(){
    },
    methods:{
    }
  };
</script>
<style scoped>  
  #app{
    width: 100%;
    height: 100%;
  }
</style>