<template>
<v-app id="app" class="h100">
  <div class="">
      <v-row>
          <div class="textTitlePostions">
            <h3 class="white--text text-title">GREEN BIN</h3>
            <p class="white--text text-subtitle">Sunday, September 12</p>
            <p class="white--text text-subtitle2">Super Typhoon Chanthu and Tropical Storm Conson make CNN repoter show Trump supperter her debunkedd Facbook More UsCapltol riot defendeats plead guilty</p>
          </div>
      </v-row>
      <v-alert
      class="alertBox font-weight-bold"
      v-model="alert"
      border="left"
      color="blue"
      transition="scroll-x-reverse-transition"
      dark
    >
      กรุณากรอกเบอร์โทรศัพท์ให้ครบถ้วน
    </v-alert>
    
      <div class="box">
        <div class="d-flex flex-column justify-center align-center">
          <v-col class="" cols="10">
            <v-text-field
            class="mt-10"
            v-model="phonenum"
            readonly
            single-line
            hide-details
            label="Enter your Phone Number"
            solo
          ></v-text-field>
          </v-col>
        <div class="numpad justify-center align-center mt-6">
          <v-row>
            <v-col cols="4">
              <v-btn class="text-h4" color="black" icon outlined height="64" width="64" @click="clickNumber(1)">1</v-btn>
            </v-col>
            <v-col cols="4">
              <v-btn class="text-h4" color="black" icon outlined height="64" width="64" @click="clickNumber(2)">2</v-btn>
            </v-col>
            <v-col cols="4">
              <v-btn class="text-h4" color="black" icon outlined height="64" width="64" @click="clickNumber(3)">3</v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="4">
              <v-btn class="text-h4" color="black" icon outlined height="64" width="64" @click="clickNumber(4)">4</v-btn>
            </v-col>
            <v-col cols="4">
              <v-btn class="text-h4" color="black" icon outlined height="64" width="64" @click="clickNumber(5)">5</v-btn>
            </v-col>
            <v-col cols="4">
              <v-btn class="text-h4" color="black" icon outlined height="64" width="64" @click="clickNumber(6)">6</v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="4">
              <v-btn class="text-h4" color="black" icon outlined height="64" width="64" @click="clickNumber(7)">7</v-btn>
            </v-col>
            <v-col cols="4">
              <v-btn class="text-h4" color="black" icon outlined height="64" width="64" @click="clickNumber(8)">8</v-btn>
            </v-col>
            <v-col cols="4">
              <v-btn class="text-h4" color="black" icon outlined height="64" width="64" @click="clickNumber(9)">9</v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="4">
              <v-btn class="text-h4" color="black" fab dark height="64" width="64" @click="delNumber()">
                <v-icon>mdi-backspace-outline</v-icon>
                </v-btn>
            </v-col>
            <v-col cols="4">
              <v-btn class="text-h4" color="black" icon outlined height="64" width="64" @click="clickNumber(0)">0</v-btn>
            </v-col>
            <v-col cols="4">
              <v-btn class="text-h4" color="black" fab dark height="64" width="64" @click="login()">
                <v-icon>mdi-arrow-right-circle-outline</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </div>
        </div>
      </div>
  </div>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {
    
  },

  data: () => ({
    phonenum : '',
    alert : false
  }),
  
  methods:{
    clickNumber(number){
      if(this.phonenum.length != 10){
        this.phonenum += number;
      }
    },
    delNumber(){
      const textDel = this.phonenum.slice(0, -1)
      this.phonenum = textDel;
    },
    login(){
      if(this.phonenum.length < 10){
        this.alert = true
        setTimeout(()=>{
          this.alert = false
        },2000);
      }else{
        localStorage.setItem('PhoneNumber',this.phonenum)
         this.$router.push({ name: 'Menu'  })
      }
    }
  }

};
</script>

<style scoped>
@font-face {
  font-family: "Rufina";
  src: local("Rufina"),
   url(../assets/fonts/Rufina-Regular.ttf) format("truetype");
}

#app{
     background-image: url("../assets/bg.png");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-color: #fff;
}
.textTitlePostions{
  position: absolute;
  left : 10%;
  top : 12%;

}.text-title{
  font-weight: bold;
  font-family: "Rufina";
  font-size: 100px;
}.text-subtitle{
  position: absolute;
  width: 700px;
  height: 224px;
  left: 5%;
  top: 80%;

  font-family: Sarabun;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 70px;
}.text-subtitle2{
  position: absolute;
  width: 720px;
  height: 224px;
  left: 5%;
  top: 130%;

  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
}.box{
  position: absolute;
  width: 350px;
  height: 550px;
  left: 70%;
  top: 15%;
  background-color: #fff;
  border-radius: 21px;
}.alertBox{
  position: absolute;
  left: 80%;
  top: 5%;
  width: 350px;
  height: 50px;
}
</style>
