<template>
<v-app id="app" class="h100">
  <div class="">
      <v-row>
          <div class="textTitlePostions">
            <h3 class="white--text text-title">GREEN BIN</h3>
            <p class="white--text text-subtitle">Sunday, September 12</p>
            <p class="white--text text-subtitle2">Super Typhoon Chanthu and Tropical Storm Conson make CNN repoter show Trump supperter her debunkedd Facbook More UsCapltol riot defendeats plead guilty</p>
          </div>
      </v-row>
      <!-- <v-alert
      class="alertBox font-weight-bold"
      v-model="alert"
      border="left"
      color="blue"
      transition="scroll-x-reverse-transition"
      dark
    >
      กรุณากรอกเบอร์โทรศัพท์ให้ครบถ้วน
    </v-alert> -->
      <div class="box">
        <div class="d-flex flex-column justify-center align-center">
            <div class="text-box">
                <h1 class="mt-2">Welcome</h1>
                <h3 class="mt-4">You phone number</h3>
                <h2 class="mt-4" style="text-decoration:underline;">{{phonenum ? phonenum : "หมายเลขโทรศัพท์"}}</h2>
                <h3 class="mt-8">You have {{points ? points : 0}} GBC</h3>
            </div>
            <div class="button-group">
        <v-btn
            color="cyan"
            class="ma-2 white--text"
            large
            width="250"
            outlined
            @click="changePage('Recycle')"
            >
            <v-icon
            left
            dark
        >
            mdi-bottle-soda-classic
        </v-icon>
            Donate
        </v-btn>
        <v-btn
            color="cyan"
            class="ma-2 white--text"
            outlined
            large
            @click="changePage('Rewards')"
            >
            <v-icon
            left
            dark
        >
            mdi-trophy-variant
        </v-icon>
            Rewards
        </v-btn>
        <v-btn
            color="#30361C"
            class="ma-2 white--text"
            large
            @click="logout()"
            >
            <v-icon
            left
            dark
        >
            mdi-logout
        </v-icon>
            Logout
        </v-btn>
            </div>
        </div>
      </div>
  </div>
  </v-app>
</template>

<script>
import web3 from '../../contract/web3';
import BigNumber from "bignumber.js";
import coins from '../../contract/coinTranfers'
export default {
  name: 'App',

  components: {
    
  },
  data: () => ({
    phonenum : localStorage.getItem("PhoneNumber"),
    points : 0,
    address : '',
    alert : false
  }),
  mounted (){
    this.connectWallet();
  },
  methods:{
   async connectWallet() {

        await web3.eth.requestAccounts().then((accounts) => {
        this.address = accounts[0];
      })
      //   await web3.eth.getChainId().then((chain) => {
      //   this.network = chain.toString();
      // })
      
      await coins.methods.balanceOf(this.address).call().then((wallet) => {
        this.points = BigNumber(wallet.toString());
      });
    },
    logout(){
      localStorage.removeItem("PhoneNumber")
      this.$router.push({ name: 'index'  })
    },
    changePage(page){
      this.$router.push({ name: page  })
    }
  },
  

};
</script>

<style scoped>
@font-face {
  font-family: "Rufina";
  src: local("Rufina"),
   url(../assets/fonts/Rufina-Regular.ttf) format("truetype");
}

#app{
     background-image: url("../assets/bg.png");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-color: #fff;
}
.textTitlePostions{
  position: absolute;
  left : 10%;
  top : 12%;

}.text-title{
  font-weight: bold;
  font-family: "Rufina";
  font-size: 100px;
}.text-subtitle{
  position: absolute;
  width: 700px;
  height: 224px;
  left: 5%;
  top: 80%;

  font-family: Sarabun;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 70px;
}.text-subtitle2{
  position: absolute;
  width: 720px;
  height: 224px;
  left: 5%;
  top: 130%;

  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
}.box{
  position: absolute;
  width: 350px;
  height: 550px;
  left: 70%;
  top: 15%;
  background-color: #fff;
  border-radius: 21px;
}.alertBox{
  position: absolute;
  left: 80%;
  top: 5%;
  width: 350px;
  height: 50px;
}.text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}.button-group{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 60%;
}
</style>
