<template>
<v-app id="app" class="h100">
  <div class="">
    <v-alert
      class="alertBox font-weight-bold pl-4 pt-2"
      v-model="alert"
      border="left"
      color="blue"
      transition="scroll-x-reverse-transition"
      dark
    >
      ยกเลิกการดำเนินการ
    </v-alert>
      <v-row>
          <div class="textTitlePostions">
            <h3 class="white--text text-title">GREEN BIN</h3>
            <p class="white--text text-subtitle">Sunday, September 12</p>
            <p class="white--text text-subtitle2">Super Typhoon Chanthu and Tropical Storm Conson make CNN repoter show Trump supperter her debunkedd Facbook More UsCapltol riot defendeats plead guilty</p>
          </div>
      </v-row>
      <!-- <v-alert
      class="alertBox font-weight-bold"
      v-model="alert"
      border="left"
      color="blue"
      transition="scroll-x-reverse-transition"
      dark
    >
      กรุณากรอกเบอร์โทรศัพท์ให้ครบถ้วน
    </v-alert> -->
      <div class="box">
        <div class="d-flex flex-column justify-center align-center">
            <div class="text-box">
                <h1 class="mt-2">Recycle List</h1>
                <div class="d-inline-flex">
                    <h3 class="mt-4">Date : </h3><h3 class="mt-4 ml-2" style="text-decoration:underline;"> {{date}}</h3> 
                    <h3 class="mt-4 ml-8">Phone : </h3><h3 class="mt-4 ml-2" style="text-decoration:underline;"> {{phonenum}}</h3> 
                </div>
            </div>
            <div class="table mt-6">
                <v-data-table
                    :headers="headers"
                    :items="water"
                    :items-per-page="3"
                    class="elevation-1"
                ></v-data-table>
            </div>
            <div class="summary">
              <h3>Summary : </h3>
              <h3>{{sum}} GBC</h3>
            </div>
            <div class="button-group">
        <v-btn
            color="#30361C"
            class="ma-2 white--text"
            large
            width="250"
            @click="connectWallet();createwithdraw()"
            >
            Confirm
        </v-btn>
            </div>
        </div>
      </div>
  </div>
  <v-overlay :value="isLoading">
      <v-progress-circular
        indeterminate
        color="red"
        size="64"
      ></v-progress-circular>
    </v-overlay>
  </v-app>
</template>

<script>
import moment from 'moment';
import web3 from '../../contract/web3';
import BigNumber from "bignumber.js";
import coins from '../../contract/coinTranfers'
export default {
  name: 'App',

  components: {
    
  },

  data: () => ({
    phonenum : localStorage.getItem("PhoneNumber"),
    date : moment().format("DD/MM/yyyy"),
    address : '',
    network : '',
    balance : '',
    points : 0,
    alert : false,
    isLoading: false,
    headers: [
          {
            text: 'Name',
            align: 'start',
            sortable: false,
            value: 'name',
          },
          { text: 'Number', value: 'number' },
          { text: 'Value', value: 'value' }
        ],
            water: [
          {
            name: 'Water drink',
            number: 2,
            value: 12,
          },
          {
            name: 'Coca-Cola',
             number: 1,
            value: 3,
          },
          {
            name: 'Water drink(Bottle)',
             number: 3,
            value: 30,
          },
        ],
    sum : 0
  }),

  mounted() {
    this.addValue();
  },
  
  methods:{
    addValue(){
      for(var i = 0;i<this.water.length;i++){
        this.sum += this.water[i].value;
      }
      console.log(this.sum)
    },

    async connectWallet() {

        await web3.eth.requestAccounts().then((accounts) => {
        this.address = accounts[0];
      })
        await web3.eth.getChainId().then((chain) => {
        this.network = chain.toString();
      })
      
      await coins.methods.balanceOf(this.address).call().then((wallet) => {
        this.balance = BigNumber(wallet.toString());
      });
    },

    createwithdraw(){
      // get accounts
      web3.eth.getAccounts().then((accounts) => {
        // convert 'ether' to 'wei'
        // const startPrice = web3.utils.toWei(this.withdraw, 'ether');
        this.isLoading = true

        setTimeout(()=>{
          this.isLoading = false
        },200000);

        return coins.methods.mint(this.address , this.sum)
          .send({ from: accounts[0] });
      }).then(() => {
        // initialize forms
        this.isLoading = false;
        this.$router.push({ name: 'Complete'  })
      })
        .catch((err) => {
        console.log(err === "User rejected provider access")
          this.isLoading = false
          this.alert = true
          setTimeout(()=>{
          this.alert = false
        },3000);
        });
    }
   
  }

};
</script>

<style scoped>
@font-face {
  font-family: "Rufina";
  src: local("Rufina"),
   url(../assets/fonts/Rufina-Regular.ttf) format("truetype");
}

#app{
     background-image: url("../assets/bg.png");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-color: #fff;
}
.textTitlePostions{
  position: absolute;
  left : 5%;
  top : 12%;

}.text-title{
  font-weight: bold;
  font-family: "Rufina";
  font-size: 100px;
}.text-subtitle{
  position: absolute;
  width: 700px;
  height: 224px;
  left: 5%;
  top: 80%;

  font-family: Sarabun;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 70px;
}.text-subtitle2{
  position: absolute;
  width: 620px;
  height: 224px;
  left: 5%;
  top: 130%;

  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
}.box{
  position: absolute;
  width: 650px;
  height: 550px;
  left: 52%;
  top: 15%;
  background-color: #fff;
  border-radius: 21px;
}.alertBox{
  position: absolute;
  left: 80%;
  top: 5%;
  width: 350px;
  height: 50px;
}.text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}.button-group{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 86%;
}.summary{
  margin-top: 20px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
   align-self: stretch;
}.loading{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
</style>
