<template>
<v-app id="app" class="h100">
<v-row class="mt-6">
  <v-alert
      class="alertBox font-weight-bold pl-4 pt-2"
      v-model="alert"
      border="left"
      color="red"
      transition="scroll-x-reverse-transition"
      dark
    >
      ยอดเงินไม่เพียงพอ
    </v-alert>
    <v-alert
      class="alertBox font-weight-bold pl-4 pt-2"
      v-model="alert2"
      border="left"
      color="blue"
      transition="scroll-x-reverse-transition"
      dark
    >
      ยกเลิกการดำเนินการ
    </v-alert>
  <v-col>
    <div class="main">
    <div class="center">
       <div class="img d-flex flex-column justify-center align-center">
            <img src="../assets/e1.png" alt=""> 
        </div>
    </div>
        <div class="content">
          <v-btn
            color="black"
            class="ma-2 black--text ml-2"
            large
            width="100"
            outlined
            @click="checkCoin('10')"
            >
           10 GBC
        </v-btn>
        </div> 
    </div>
    </v-col>
    <v-col><div class="main">
    <div class="center">
       <div class="img d-flex flex-column justify-center align-center">
            <img src="../assets/e2.png" alt=""> 
        </div>
    </div>
       
        <div class="content">
          <v-btn
            color="black"
            class="ma-2 black--text ml-2"
            large
            width="100"
            outlined
            @click="checkCoin('40')"
            >
           40 GBC
        </v-btn>
        </div> 
    </div></v-col>
    <v-col><div class="main">
    <div class="center">
       <div class="img d-flex flex-column justify-center align-center">
            <img src="../assets/e3.png" alt=""> 
        </div>
    </div>
       
        <div class="content">
          <v-btn
            color="black"
            class="ma-2 black--text ml-2"
            large
            width="100"
            outlined
            @click="checkCoin('80')"
            >
           80 GBC
        </v-btn>
        </div> 
    </div></v-col>
</v-row>
<v-row class="mt-n10"> 
  <v-col><div class="main">
    <div class="center">
       <div class="img d-flex flex-column justify-center align-center">
            <img src="../assets/e4.png" alt=""> 
        </div>
    </div>
       
        <div class="content">
          <v-btn
            color="black"
            class="ma-2 black--text ml-2"
            large
            width="100"
            outlined
            @click="checkCoin('100')"
            >
           100 GBC
        </v-btn>
        </div> 
    </div>
    </v-col>
    <v-col><div class="main">
    <div class="center">
       <div class="img d-flex flex-column justify-center align-center">
            <img src="../assets/e5.png" alt=""> 
        </div>
    </div>
       
        <div class="content">
          <v-btn
            color="black"
            class="ma-2 black--text ml-2"
            large
            width="100"
            outlined
            @click="checkCoin('200')"
            >
           200 GBC
        </v-btn>
        </div> 
    </div></v-col>
    <v-col><div class="main">
    <div class="center">
       <div class="img d-flex flex-column justify-center align-center">
            <img src="../assets/e6.png" alt=""> 
        </div>
    </div>
       
        <div class="content">
          <v-btn
            color="black"
            class="ma-2 black--text ml-2"
            large
            width="100"
            outlined
            @click="checkCoin('300')"
            >
           300 GBC
        </v-btn>
        </div> 
    </div></v-col>
</v-row>
<v-overlay :value="isLoading">
      <v-progress-circular
        indeterminate
        color="red"
        size="64"
      ></v-progress-circular>
    </v-overlay>
  </v-app>
</template>

<script>
import web3 from '../../contract/web3';
import BigNumber from "bignumber.js";
import coins from '../../contract/coinTranfers'

export default {
  name: 'App',

  components: {
    
  },

  data: () => ({
    isLoading : false,
    address : '',
    oriAddress : '0x6d8E0ea7bF8fC50301f0cBbE9fba5f09bAA4D0be',
    balance : '',
    alert : false,
    alert2 : false

    //
  }),

  mounted(){
    this.connectWallet();
  },

  methods :{
    async connectWallet() {

        await web3.eth.requestAccounts().then((accounts) => {
        this.address = accounts[0];
      })
      //   await web3.eth.getChainId().then((chain) => {
      //   this.network = chain.toString();
      // })
      
      await coins.methods.balanceOf(this.address).call().then((wallet) => {
        this.balance = BigNumber(wallet.toString());
      });
    },

    checkCoin(coin){
      this.isLoading = true

       if(this.balance < coin){
          this.isLoading = false
          this.alert = true
          setTimeout(()=>{
          this.alert = false
        },3000);
        }else{
          this.createwithdraw(coin)
        }
    },

    createwithdraw(coin){
      // get accounts
      web3.eth.getAccounts().then((accounts) => {
        // convert 'ether' to 'wei'
        // const startPrice = web3.utils.toWei(this.withdraw, 'ether');
        this.isLoading = true

        setTimeout(()=>{
          this.isLoading = false
        },200000);

        return coins.methods.transfer(this.oriAddress ,  coin)
          .send({ from: accounts[0] });
      }).then(() => {
        // initialize forms
        this.isLoading = false;
        this.$router.push({ name: 'Complete'  })
      })
      .catch((err) => {
          console.log(err === "User rejected provider access")
          this.isLoading = false
          this.alert2 = true
          setTimeout(()=>{
          this.alert2 = false
        },3000);
        });
    }
  }
};
</script>

<style scoped>
 /* @font-face {
  font-family: "Rufina";
  src: local("Rufina"),
   url(../assets/fonts/Rufina-Regular.ttf) format("truetype");
} */
#app{
     background-image: url("../assets/coniferous-tree-background-2210x1473.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-color: #fff;
}
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    max-width: 200px;
    margin: 3rem auto;
    box-shadow: 5px 5px 20px rgba(0, 0, 0,0.2);
    border-radius: 30px;
    background: #fff;
    /* overflow: hidden; */
    /* position: relative; */
}
.img{

    height: 100px;
    max-width: 100px;
    /* background: black; */
    /* border-top-left-radius:50px ;
    border-top-right-radius:50px ; */
    overflow:hidden;
}
.img img{
    width: 100%;

}
.content{
    text-align: center;
    /* border-bottom: 2px solid #e5e5e5; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    /* margin-left: 5vmax; */
}
.center{
   display: flex;
    justify-content: center;
    align-items: center;
    padding-top : 20px;
}.alertBox{
  position: absolute;
  left: 80%;
  top: 5%;
  width: 350px;
  height: 50px;
}

</style>
