<template>
<v-app id="app" class="h100">
  <div class="">
      <v-row>
          <div class="textTitlePostions">
            <h3 class="white--text text-title">GREEN BIN</h3>
            <p class="white--text text-subtitle">Sunday, September 12</p>
            <p class="white--text text-subtitle2">Super Typhoon Chanthu and Tropical Storm Conson make CNN repoter show Trump supperter her debunkedd Facbook More UsCapltol riot defendeats plead guilty</p>
          </div>
      </v-row>
      <div class="box">
        <div class="d-flex flex-column justify-center align-center">
            <Success_Icon class="mt-10"/>
        <div class="com justify-center align-center mt-6">
            <h1 style="font-size:48px;">Completed</h1>
        </div>
        <div class="button-group">
        <v-btn
            color="#30361C"
            class="ma-2 white--text"
            large
            width="250"
            to="/menu"
            >
            <v-icon
            left
            dark
        >
            mdi-arrow-left-drop-circle
        </v-icon>
            Back to menu
        </v-btn>
        </div>
        </div>
      </div>
  </div>
  </v-app>
</template>

<script>
import Success_Icon from '../assets/icons/SweetAlert_Success_icon.vue'
export default {
  name: 'App',

  components: {
    Success_Icon
  },

  data: () => ({
    phonenum : '',
    alert : false
  }),
  
  methods:{
    clickNumber(number){
      if(this.phonenum.length != 10){
        this.phonenum += number;
      }
    },
    delNumber(){
      const textDel = this.phonenum.slice(0, -1)
      this.phonenum = textDel;
    },
    login(){
      if(this.phonenum.length < 10){
        this.alert = true
        setTimeout(()=>{
          this.alert = false
        },2000);
      }else{
         this.$router.push({ name: 'menu'  })
      }
    }
  }

};
</script>

<style scoped>
@font-face {
  font-family: "Rufina";
  src: local("Rufina"),
   url(../assets/fonts/Rufina-Regular.ttf) format("truetype");
}

#app{
     background-image: url("../assets/bg.png");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-color: #fff;
}
.textTitlePostions{
  position: absolute;
  left : 10%;
  top : 12%;

}.text-title{
  font-weight: bold;
  font-family: "Rufina";
  font-size: 100px;
}.text-subtitle{
  position: absolute;
  width: 700px;
  height: 224px;
  left: 5%;
  top: 80%;

  font-family: Sarabun;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 70px;
}.text-subtitle2{
  position: absolute;
  width: 720px;
  height: 224px;
  left: 5%;
  top: 130%;

  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
}.box{
  position: absolute;
  width: 350px;
  height: 550px;
  left: 70%;
  top: 15%;
  background-color: #fff;
  border-radius: 21px;
}.alertBox{
  position: absolute;
  left: 80%;
  top: 5%;
  width: 350px;
  height: 50px;
}.com{
    position: absolute;
    top: 30%;
}.button-group{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 80%;
}
</style>
