<template>
  <v-app id="app" class="h100">      
      <v-container>
          <div>
              <h1>Test Connect</h1>
              <div>
                  <h2>Network : {{network}}</h2>
                  <h2>Address : {{address}}</h2>
                  <h2>Balance : {{balance ? balance : 0}} GBC</h2>
                   <v-text-field
                    v-model="withdraw"
                    label="Enter to withdraw"
                    solo
                ></v-text-field>
                  <v-btn color="primary" depressed @click="this.connect">Test Connect</v-btn>
                  <v-btn class="ml-6" color="error" depressed @click="this.createwithdraw">Withdraw</v-btn>
              </div>
          </div>
      </v-container>
  </v-app>
</template>

<script>
// import auction from '../../contract/auctionInstance';
// import auctionBox from '../../contract/auctionBoxInstance';
import web3 from '../../contract/web3';
import BigNumber from "bignumber.js";
import coins from '../../contract/coinTranfers'
export default {
    data(){
        return{
            network : '',
            address : '',
            oriAddress : '0x6d8E0ea7bF8fC50301f0cBbE9fba5f09bAA4D0be',
            balance : '',
            withdraw : 0,
            phone : '0918376460',
            arrayNetwork : [],
        }
    },
    mounted(){
        
    },

    methods:{
    async connect(){
        await web3.eth.requestAccounts().then((accounts) => {
        this.address = accounts[0];
      })
        await web3.eth.getChainId().then((chain) => {
        this.network = chain.toString();
      })
      
      await coins.methods.balanceOf(this.address).call().then((wallet) => {
        this.balance = BigNumber(wallet.toString());
      });
      
    },

    createwithdraw() {
      // get accounts
      web3.eth.getAccounts().then((accounts) => {
        // convert 'ether' to 'wei'
        // const startPrice = web3.utils.toWei(this.withdraw, 'ether');
        return coins.methods.transferFrom(this.oriAddress, this.address , this.withdraw)
          .send({ from: accounts[0] });
      }).then(() => {
        // initialize forms
        this.withdraw = '';
      })
        .catch((err) => {
          console.log(err);
        });
    }


    }
}
</script>

<style>

</style>